.container {
	width: 90%;
	display: flex;
	padding: 1rem;
	align-items: flex-start;
	flex-direction: column;
	margin-bottom: 2rem;
	background-color: #eee;
}

.containerSelected {
	width: 90%;
	display: flex;
	padding: 1rem;
	align-items: flex-start;
	flex-direction: column;
	margin-bottom: 2rem;
	background-color: red;
}

.selected {
	background-color: red;
}
.weatherData {
	padding-left: 2rem;
	display: block;
}
